@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans'; 
    margin: 0;
    padding: 0;
    width: auto;
    
    
}

html{
    /*Me permite deslizar cuando hago click en los links del menu*/
    scroll-behavior: smooth;
    
   
}

html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

a:link{
    text-decoration:none
}

a:visited{
    text-decoration:none
}





/* Menu */

.contenedor-header{
    background: #1e2326;
    position: fixed;
    width: 100%;
    height: 10vh;
    top: 0;
    left: 0;
    z-index: 99;

}

.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header header .logo a{
    font-size: 32px;
    color: #EB9341;
    text-decoration: none;
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 100%;
    
    animation: typing 2s steps(13), blink .5s infinite step-end alternate ;
    overflow: hidden;

}

@keyframes typing {
    from {width: 0;}

}

@keyframes blink {
   50% {border-color: transparent;}

}


.contenedor-header header ul{
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.contenedor-header header nav ul li a:hover{
    /*Darle efecto de color al pasar el mouse */
    color: #EB9341;

}

.nav-responsive{
    /*Estilo de la barra en responsivo*/
    background-color: #EB9341;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;

}





/* Seccion Inicio*/
#showcase {
	height: 100vh;
	background: #252A2E;
	padding: 150px 0;
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(/img/fondoInicio.jpg);
    background-size: cover;
    overflow: hidden;
}

#showcase h1 {
	line-height: 1em;
    color: #EB9341;
    
}

#showcase .large {
	line-height: 1em;
    font-size: 25px;
    color: #fff;

}

#showcase .title-outline {
	color: #fff;
}

.showcase-row {
	display: flex;
}

.showcase-row-title {
	padding-top: 70px;
}

.showcase-row-image {
	display: block;
	margin: 0 auto;
}

.showcase-row-image img {
	height: 500px;
    margin-top: 40px;
    border: 10px solid #EB9341;
    display: block;
    width: 500px;
    margin: auto;
    border-radius: 100%;
}

.redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 50px 5px;
    font-size: 30px;
    transition: .3s;
    text-align: center;
     
}

.redes a:hover{
    background-color: #EB9341;
    color: #fff;
}

/*Seccion Sobre Mi */

.sobremi{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;

}

.sobremi h2{
    font-size: 42px;
    text-align: center;
    padding: 20px 0;
}

.sobremi .contenido-seccion p{
   font: 18px;
   line-height: 30px;
   margin-bottom: 30px;
   font-size: 20px;

}

.sobremi .contenido-seccion p span{
    color: #EB9341;
    font-weight: bold;

}

.sobremi .fila{
     display: flex;

}

.sobremi .fila .col{
    width: 50%;

}

.sobremi .fila .col h3{
    font-size: 28px;
    margin-bottom: 25px;    
}

.sobremi .fila .col ul{
    list-style: none;

}

.sobremi .fila .col ul li{
    margin: 12px 0;
    font-size: 20px;
}

.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #EB9341;
    width: 130px;
    

}

.sobremi .fila .col ul li span{
    background-color: #EB9341;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
}

.sobremi .fila .col .contenedor-intereses .intereses{
    width: 100px;
    height: 100px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;

}
.sobremi .fila .col .contenedor-intereses .intereses:hover{
    background-color: #EB9341;
}

.sobremi .fila .col .contenedor-intereses .intereses i{
    font-size: 30px;
    margin-bottom: 10px ;
    
}

.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}



.sobremi button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #EB9341;
    z-index: -1;
    transition: 1s;

}

.sobremi button:hover .overlay{
    width: 100%;

}





/* Session Skill */

.skills{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}

.skills .contenido-seccion{
    max-width: 1100px;
    margin: auto;

}

.skills h2{
    font-size: 45px;
    text-align: center;
    padding: 20px 0;
}

.skills .fila{
    display: flex;

}

.skills .fila .col{
    width: 50%;
    padding: 0 20px;
}

.skills .fila .col h3{
    font-size: 28px;
    margin-bottom: 25px; 
}

.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.skills .skill .barra-skill{
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;

}

.skills .skill .progreso{
    background-color: #EB9341;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}

.skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #EB9341;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;

}


/*Estas clases se agregan dinamicamente medianste Js */

.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript{
    0%{width: 0%;}
    100%{width: 65%;}
}

.skills .skill .java{
    width: 0%;
    animation: 2s java forwards;
}
@keyframes java{
    0%{width: 0%;}
    100%{width: 70%;}
}

.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}
@keyframes htmlcss{
    0%{width: 0%;}
    100%{width: 75%;}
}

.skills .skill .python{
    width: 0%;
    animation: 2s python forwards;
}
@keyframes python{
    0%{width: 0%;}
    100%{width: 60%;}
}

.skills .skill .wordpress{
    width: 0%;
    animation: 2s wordpress forwards;
}
@keyframes wordpress{
    0%{width: 0%;}
    100%{width: 75%;}
}

.skills .skill .mysql{
    width: 0%;
    animation: 2s mysql forwards;
}
@keyframes mysql{
    0%{width: 0%;}
    100%{width: 80%;}
}

.skills .skill .gitgithub{
    width: 0%;
    animation: 2s gitgithub forwards;
}
@keyframes gitgithub{
    0%{width: 0%;}
    100%{width: 80%;}
}

.skills .skill .boostrap{
    width: 0%;
    animation: 2s boostrap forwards;
}
@keyframes boostrap{
    0%{width: 0%;}
    100%{width: 70%;}
}

/* Skills Profesionale */

.skills .skill .comunicacion{
    width: 0%;
    animation: 2s comunicacion forwards;
}
@keyframes comunicacion{
    0%{width: 0%;}
    100%{width: 80%;}
}

.skills .skill .trabajoequipo{
    width: 0%;
    animation: 2s trabajoequipo forwards;
}
@keyframes trabajoequipo{
    0%{width: 0%;}
    100%{width: 85%;}
}

.skills .skill .creatividad{
    width: 0%;
    animation: 2s creatividad forwards;
}
@keyframes creatividad{
    0%{width: 0%;}
    100%{width: 85%;}
}

.skills .skill .dedicacion{
    width: 0%;
    animation: 2s dedicacion forwards;
}
@keyframes dedicacion{
    0%{width: 0%;}
    100%{width: 85%;}
}

.skills .skill .actitudpositiva{
    width: 0%;
    animation: 2s actitudpositiva forwards;
}
@keyframes actitudpositiva{
    0%{width: 0%;}
    100%{width: 90%;}
}

.skills .skill .apc{
    width: 0%;
    animation: 2s apc forwards;
}
@keyframes apc{
    0%{width: 0%;}
    100%{width: 90%;}
}

.skills .skill .adaptabilidad{
    width: 0%;
    animation: 2s adaptabilidad forwards;
}
@keyframes adaptabilidad{
    0%{width: 0%;}
    100%{width: 85%;}
}

.skills .skill .integridad{
    width: 0%;
    animation: 2s integridad forwards;
}
@keyframes integridad{
    0%{width: 0%;}
    100%{width: 85%;}
}





/* Seccion Curriculumn */


.curriculum{
    background-color:#1e2326;
    color: #fff;
    padding: 50px 20px;
}

.curriculum .contenido-seccion{
    max-width: 1100px;
    margin: auto;

}

.curriculum h2{
    font-size: 45px;
    text-align: center;
    padding: 20px 0;
}

.curriculum .fila{
    display: flex;
    justify-content: space-between;
}

.curriculum .fila .col{
    width: 49%;
    padding: 0 20px;

}

.curriculum .fila .col h3{
    font-size: 28px;
    margin-bottom: 25px; 
}

.curriculum .fila .izquierda{
    border-right: 2px solid #252A2E;

}

.curriculum .fila .derecha{
    border-left: 2px solid #252A2E;
    
}

.curriculum .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252A2E;
    position: relative;
}

.curriculum .fila .item h4{
    font-size: 20px;
    margin-bottom: 10px;

}

.curriculum .fila .item .casa{
    color: #EB9341;
    font-size: 22px;
    font-weight: bold;
    display: block;
}

.curriculum .fila .item .fecha{
    display: block;
    color: #EB9341;
    margin-bottom: 10px;
}

.curriculum .fila .item p{
    line-height: 24px;
    letter-spacing: 1.5px;

}

.curriculum .fila .izq{
    border-right: 2px solid #EB9341;
    margin-right: 20px;

}

.curriculum .fila .der{
    border-left: 2px solid #EB9341;
    margin-left: 20px;
    
}

.curriculum .fila .item .conectori{
    height: 2px;
    background-color: #EB9341;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;

}
.curriculum .fila .item .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #EB9341;
    float: right;
    position: relative;
    bottom: 4px; /* Punto de coneccion */
    
}


.curriculum .fila .item .conectord{
    height: 2px;
    background-color: #EB9341;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;

}
.curriculum .fila .item .conectord .circulod{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #EB9341;
    float: left;
    position: relative;
    bottom: 4px; /* Punto de coneccion */
    
}






/* Seccion de Proyectos */

.proyectos{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}

.proyectos .contenido-seccion{
    max-width: 1100px;
    margin: auto;

}

.proyectos h2{
    font-size: 45px;
    text-align: center;
    padding: 20px 0;
}

.proyectos .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.proyectos .galeria .proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}

.proyectos .galeria .proyecto img{
    width: 100%;
    display: block;

}

.proyectos .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(235,147,65,.8), rgba(235,147,65,.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;


}

.proyectos .galeria .proyecto .overlay h3{
      margin-bottom: 20px;
      transition: 1s;

}

.proyectos .galeria .proyecto .overlay:hover{
      opacity: 1;
      color: #fff;

}

.proyectos .galeria .proyecto .overlay:hover h3{
    margin-bottom: 0px;
    color: #fff;

}

.proyectos .galeria .proyecto .overlay:hover p{
    margin-bottom: 0px;
    color: #fff;

}





/* Seccion Contacto */

.contacto{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0;
}

.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;

}

.contacto h2{
    font-size: 45px;
    text-align: center;
    padding: 20px 0;
}

.contacto .fila{
    display: flex;

}

.contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;

}

.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;

}

.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10; 
    
}

.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #EB9341;
    z-index: -1;
    transition: 1s;

}

.contacto button:hover .overlay{
    width: 100%;
    
}

.contacto .col img{
    width: 100%;
  

}


.contacto .col .info{
    position: absolute;
    top: 75%;
    background-color: #252A2E;
    padding: 10px;
    width: 100%;
    left: 42%;
    transform: translate(-35%, -50%);
}

.contacto .col .info ul{
    list-style: none;
}

.contacto .col .info ul li{
    margin-bottom: 10px;
    text-align: center;

}

.contacto .col .info ul li i{
    color: #EB9341;
    display: inline-block;
    margin-right: 20px;

}


.mapa-contenido{
    width: 100%;
  
}





/* Footer */

footer{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;

}

footer .redes{
    margin-bottom: 20px;

}

footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
footer .redes a:hover{
    background-color: #EB9341;
    transition: all 0.5s ease-in-out;
}

footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #EB9341;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;

}

footer .copyr strong a{
    color:#fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

footer .copyr a:hover{
    color: #EB9341;
}






/* Seccion Responsive */

@media screen and (max-width:980px) {
    
    html, body {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
    
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;

    }
    nav.responsive ul{
        display: block !important;
    
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }

    .mapa-contenido{
        width: 100%;
    }

    
}


@media screen and (max-width:700px){
    html, body {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
    #showcase {
        height: 100%;
        padding: 100px 0 20px 0;
    }
    
    .showcase-row {
        flex-wrap: wrap;
    }
    
    .showcase-row-title {
        width: 100%;
        padding-top: 0;
        padding-bottom: 20px;
        text-align: center;
    }
    .showcase-row-image img {
        height: 300px;
        margin-top: 0px;
        border: 10px solid #EB9341;
        display: block;
        width: 300px;
        margin: auto;
        border-radius: 100%;
    }

    .redes a{
        font-size: 25px;
        
    }



    .sobremi{
        width: auto;
    }
    
    .sobremi .fila{
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content;
    } 



    .skills .fila{
        display: block;
        

    }
    .skills .fila .col{
        width: 100%;
                  
    }
    .skills .fila .col .barra-skill{
        width: 100%; /*ver aca*/
       
    }

    .curriculum .fila{
        display: block;

    }
    .curriculum .fila .col{
        width: 90%;
    }
    .curriculum .fila .derecha{
        margin-left: 20px;

    }

    .proyectos .galeria{
        display: block;
        width: 100%;
    }

    .proyectos .galeria .proyecto{
        max-width: 100%;

    }
    .proyectos .galeria .proyecto img{
        width: 100%;
    }

    .contacto .fila{
        display: block;

    }
    .contacto .fila .col{
        width: 100%;

    }
    .mapa-contenido{
        width: 100%;
    }

}